body {
    background-color: darkslategray;
    font-family: 'VT323', monospace;
}

/* heading style */
h1 {
    color: ivory;
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Rules style */
.rules {
    background-color: gray;
    color: ivory;
    border: 1px solid;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

