body {
    background-color: darkslategray;
    font-family: 'VT323', monospace;
}

/* heading style */
h1 {
    color: ivory;
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Rule button */
#ruleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Rules style */
.rules {
    background-color: gray;
    color: ivory;
    border: 1px solid;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

/* Game area style */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    margin-top: 20px;
    background: darkslategray;
    border: 2px solid ivory;
}

.game-area p {
    color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 30px;
}

/* Score area styles*/
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.scores {
    color: ivory;
    display: inline-block;
    padding: 25px;
}

#win {
    color: cyan;
    font-weight: bold;
}

#loss {
    color: red;
    font-weight: bold;
}

/* Button styles */
.btn {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
}

.btn:active, .btn:hover {
    background-color: cadetblue;
}